/* ==== file styles.css created to work with both files (index.html and portfolio.html) ==== */

:root {
    --font-family: 'Roboto', 'Raleway', sans-serif;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-dark: #757575;
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --text-color-theme-black: #000000;
    --contact-color-alpha: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --background-color: #2F303A;
    --btn-background-color: #F5F4FA;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.logo {
    font-family: var(--secondary-font);        
    font-weight: 700;
    font-size: 26px;   
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-back-dark {
    color: var(--primary-text-color-theme-light);    
}

.logo-back-light {
    color: var(--primary-text-color-theme-dark);    
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.modal-open-btn,
.link-open-btn-all,
.link-open-btn-sites,
.link-open-btn-addones,
.link-open-btn-design,
.link-open-btn-marceting {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

/*
.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;    
    outline: 2px dashed #f44336;
  }
*/

body {    
    font-family: var(--primary-font);
    font-size: 16px;
    letter-spacing:0.03em;
}

/*==== HEADER ====*/

.page-header {
    margin-top: auto;
    margin-bottom: auto;
}

.nav {    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contacts-mail, 
.contacts-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*==== HERO ====*/

.hidden-text-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color-theme-light);
}

.text-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-dark);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-light);
}

.portfolio-title-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;    
    color: var(--secondary-text-color-theme-light);
}

.img-page1,
.img-page2 {
    display: block;
    max-width: 100%;
    height: 100%;
}

.contacts-mail, 
.contacts-phone-number,
.contacts-footer-address,
.contacts-footer-mail {
    color: transparent;
}

.mail {
    color: var(--accent-color)
}

.phone-number {
    color: var(--secondary-text-color-theme-light);
}

/*
.mail:hover,
.mail:focus {
    color: var(--accent-color);
}
.phone-number:hover,
.phone-number:focus {
    color: var(--primary-text-color-theme-light);
}
*/

/*==== HERO ====*/

.section-solutions {
    text-align: center;    
    color: var(--primary-text-color-theme-dark);
    background: var(--background-color);
}

/*
Не знайшов можливості перенесеня тексту "Ефективні рішення..." окрім як розліділити його на 2 заголовка;
*/

.solutions-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
}

.modal-open-btn {    
    border-radius: 4px;  
    padding: 10px 32px;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: var(--accent-color);
    color: var(--primary-text-color-theme-darck);
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;    
    /*
    border: 1px solid var(--text-color-theme-black);
    */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

.modal-open-btn.hover,
.modal-open-btn.focus {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-text-color-theme-dark);
    background: #188CE8;
}

.list-btn:hover,
.list-btn:focus {
    /*display: flex;*/
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff
    var(--primary-text-color-theme-light);
    background-color: var(--btn-background-color);
    border-radius: 4px;
    min-width: 38px;
}

.menu-team {
    font-style: normal;
}

.team-title-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
}

/*===== draft =====
    cursor: pointer;
    width: 73px;
    height: 38px;
    left: 512px;
    background: var(--accent-color);
    top: 174px;
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.64;
    
    text-align: center;
    letter-spacing: 0.03em;
}

===== draft =====*/

.menu-item {
    font-style: normal;
}

.page-footer {
    background: var(--background-color);
}

.footer-address {
    color: var(--primary-text-color-theme-dark);
    font-style: normal;
}

.footer-mail,
.footer-phone-number {
    color: var(--contact-color-alpha);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-phone-number:hover,
.footer-phone-number:focus {
    color: var(--primary-text-color-theme-dark);
}
/* ===== /HERO =====*/

